body {
    background-color: black;
}

.container {
    color: white;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    justify-content: left;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    display: flex;
    top: 0px;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    color:rgb(100, 100, 100);
    background-color: black;
    font-size: 1.6rem;
    border-bottom: 3px;
    border-color: rgb(63, 72, 112);
    border-style: solid;
}

.foot-container {
    position: sticky;
    bottom: 0px;
    border-top: 3px;
    border-color: rgb(63, 72, 112);
    background-color: black;
    border-style: solid;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.foot-settings {
    margin-left: 22%;
    color: rgb(182, 182, 182);
    background-color: rgb(58, 58, 58);
    font-size: 1.2rem;
}

.foot-preset-button {
    color: rgb(182, 182, 182);
    background-color: rgb(58, 58, 58);
    font-size: 1.2rem;
    height: 30px;
    margin-right: 5%;
}

.buttons {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100vw;
    font-size: 1.4rem;
    align-items: center;
}

.button {
    color: white;
    background-color: rgb(59, 0, 0);
    margin: 2vh;
    width: 20vw;
    font-size: 1.4rem;
}

.button:active {
    background-color: rgb(90, 90, 90);
    box-shadow: 2 2px gray;
    transform: translateY(2px);
}

.logo {
    position: absolute;
    top: 12px;
    right: 10px;
}
