.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: rgb(190, 190, 190);
    min-height: 77vh;

}

.settings-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 40px;
    margin-right: 40px;
    height: 35px;
    width: 150px;
}

.settings-header {
    color:aliceblue;
    text-align: center;
}


.settings-add-source {
    margin-top: 10px;
    color: gray;
    background-color: rgb(56, 56, 56);
}

.settings-button {
    display: block;
    width: 100%;
    margin-top: 3px;
    color: aliceblue;
    background-color: rgb(36, 36, 36);

}

.settings-delete {
    color: aliceblue;
    background-color: rgb(59, 0, 0);
}

.settings-cancel {
    color: rgb(182, 181, 181);
    background-color: rgb(83, 83, 83);
    font-size: 1.4rem;
}
.settings-update {
    margin-left: 5px;
    color: rgb(182, 182, 182);
    background-color: rgb(59, 0, 0);
    font-size: 1.4rem;
}
