.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    color: rgb(190, 190, 190);
    min-height: 77vh;

}

.settings-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 100px;
    height: 35px;
    margin-right: 20px;
}

.settings-header {
    color:aliceblue;
    background-color: rgb(66, 66, 66);
}


.settings-item {
    background-color: rgb(155, 155, 155);
}

.settings-delete {
    color: aliceblue;
    background-color: rgb(59, 0, 0);
}

.settings-cancel {
    color: aliceblue;
    background-color: rgb(83, 83, 83);
    font-size: 1.4rem;
}
.settings-update {
    margin-left: 5px;
    color: aliceblue;
    background-color: rgb(59, 0, 0);
    font-size: 1.4rem;
}
