.settings-popup {
    position: absolute;
    z-index: 10;
    justify-content: left;
    color: rgb(192, 192, 192);
    background-color: rgb(51, 51, 51);
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 100px;
    min-height: 300px;
    border-radius: 3px;
    border-color: rgb(136, 136, 136);
    border-style: solid;
}

.settings-popup-header {
    margin-left: 30px;
    height: 35px;
    margin-right: 20px;
}

.settings-popup-input {
    margin-left: 30px;
    height: 35px;
    margin-right: 20px;
}

.settings-popup-select {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

